html,
body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--main-color);
}

:root.light {
    --blue-color: #7983ff;
    --text-color: black;
    --hover-color: #9aa1ff;
    --sun-icon-color: white;
    --main-color: white;
    --book-color: rgb(213, 213, 213);
    --book-title-bg-color: #7982ff2b;
    --book-menu-bg-color: #e7e7e7;
    --switch-color: white;
    --switch-off-color: #b8b8b8;
    --book-text-color: black;
    --book-border-left: solid rgb(88, 28, 28) 15px;
    --trash-color: black;
    --input-color: white;
    --input-text-color: none;
    --title-invert: invert(100%);
}

:root.dark {
    --blue-color: #4f548f;
    --text-color: rgb(255, 255, 255);
    --hover-color: #6b70ad;
    --sun-icon-color: rgb(43, 43, 43);
    --main-color: rgb(43, 43, 43);
    --book-color: rgb(73, 73, 73);
    --book-title-bg-color: #7982ff2b;
    --book-menu-bg-color: rgb(105, 105, 105);
    --switch-color: white;
    --switch-off-color: #b8b8b8;
    --book-text-color: white;
    --book-border-left: solid rgb(141, 53, 53) 15px;
    --trash-color: white;
    --input-color: rgb(141, 141, 141);
    --input-text-color: white;
    --title-invert: invert(0%);
}

.blur {
    filter: blur(5px);
}

.section>button {
    border: none;
    background: none;
    cursor: pointer;
}

.add-book,
.settings {
    text-align: left;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

#sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    gap: 30px;
    padding: 20px;
}

.section {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-self: center;
    background-color: var(--blue-color);
    border-radius: 15px;
    transition: all .3s;
}

.section:hover {
    background-color: var(--hover-color);
    border-radius: 15px;
}

.section img {
    width: 50%;
    align-self: center;
    justify-self: center;
}

.section.theme {
    background-color: var(--sun-icon-color);
    cursor: pointer;
    background-image: url(./images/sun-static-icon.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    transition: none;
    transition: transform .3s;
}

.section.theme.dark {
    background-image: url(./images/dark-theme-icon.png);
    transition: none;
    transition: transform .3s;
}

.section.theme:hover {
    transform: scale(1.15);
    transition: transform .3s;
}

.section.theme.dark:hover {
    transform: scale(1.15);
    transition: transform .3s;
}

.nav-text {
    color: var(--text-color);
    font-weight: 600;
    text-wrap: nowrap;
    user-select: none;
}

button.nav-text {
    color: #fff;
}

#main-window {
    display: grid;
    grid-template-rows: 100px 1fr;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

#profile-controls {
    box-shadow: rgb(148, 148, 148) 0px 1px 5px;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1;
    z-index: 0;
}

#title {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-column: 1;
    justify-content: start;
    align-content: center;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#title img {
    width: 100%;
    align-self: center;
    filter: var(--title-invert);
}

#title>.nav-text {
    font-size: 1.7em;
    line-height: 0%;
}

#books {
    grid-row: 2;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
}

.no-scroll {
    overflow: hidden;
}

.show-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    scale: 1.53;
}

.book {
    background-color: var(--book-color);
    border-radius: 15px;
    border-left: var(--book-border-left);
    user-select: none;
    align-items: start;
    max-width: 200px;
    height: min-content;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.574);
}

.book-text {
    display: grid;
    color: var(--book-text-color);
    grid-template-rows: 55px 75px 55px 55px 55px;
}

.book-text>p:nth-child(1) {
    grid-row: 1;
    align-self: center;
    background-color: var(--book-title-bg-color);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 800;
}

.book-text p:nth-child(2) {
    grid-row: 2;
    padding: 20px;
    align-self: center;
}

.book-text p:nth-child(3) {
    grid-row: 3;
    align-self: center;
}

.book-text p:nth-child(4) {
    grid-row: 4;
    align-self: center;
}

.book-text p:nth-child(5) {
    grid-row: 5;
    align-self: center;
}

.read-indicator {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
}

#add-book-menu {
    width: 300px;
    z-index: 3;
    position: fixed;
    top: 0;
    right: -500px;
    background-color: var(--book-menu-bg-color);
    height: 100vh;
    padding: 20px;
    padding-top: 10px;
    transition: all .3s ease-in-out;
}

svg {
    justify-self: center;
    align-self: center;
    transition: all .2s;
    fill: var(--trash-color);
}

svg:hover {
    fill: var(--blue-color);
    cursor: pointer;
}

svg:active {
    fill: var(--hover-color);
}

.form {
    padding-top: 100px;
    display: grid;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: 1fr;
}

.menu-close-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-row: 1;
    font-size: 2rem;
    border: none;
    background: none;
    transition: all .2s;
    cursor: pointer;
    user-select: none;
    color: var(--text-color);
}

.menu-close-button:hover {
    color: var(--blue-color);
}

.menu-close-button:active {
    color: rgb(187, 187, 187);
}

#add-book-menu.show-menu {
    position: fixed;
    right: 0px;
}

.book-title {
    grid-row: 1;
    align-self: center;
}

.author {
    grid-row: 2;
    align-self: center;
}

.pages {
    grid-row: 3;
    align-self: center;
}

.ifRead {
    grid-row: 4;
    align-self: center;
}

label {
    display: none;
}

label.ifRead {
    display: block;
    font-weight: 600;
    padding-right: 10px;
    text-align: center;
}

input {
    border-radius: 15px;
    border: none;
    height: 30px;
    padding-left: 10px;
    background-color: var(--input-color);
    color: var(--input-text-color)
}

input::placeholder {
    color: var(--input-text-color);
}

.switch-container {
    display: grid;
    grid-template-rows: 50px;
    width: min-content;
    gap: 30px;
    justify-self: center;
}

.switch-container>p {
    justify-self: center;
    text-wrap: nowrap;
    font-weight: 600;
    color: var(--text-color);
}

.switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--switch-off-color);
    border-radius: 20px;
    cursor: pointer;
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--switch-color);
    top: 1px;
    left: 1px;
    transition: all 0.3s;
    grid-column: 2;
}

.checkbox:checked+.switch::after {
    left: 20px;
}

.checkbox:checked+.switch {
    background-color: var(--blue-color);
}

.checkbox {
    display: none;
}

.submit-book {
    grid-row: 5;
    border-radius: 15px;
    border: none;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    padding: 10px 20px 10px 20px;
    background-color: var(--blue-color);
    transition: all .3s;
    font-weight: 600;
    color: #fff;
}

.submit-book:hover {
    cursor: pointer;
    user-select: none;
    background-color: var(--hover-color);
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(82, 94, 100);
    z-index: 2;
}